
services:
  frontend:
    build:
      context: ./frontend
    container_name: frontend
    restart: always
    networks:
      - dbnet
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build: ./backend
    command: >
      sh -c "
            python manage.py collectstatic --noinput &&
            python manage.py makemigrations &&
            python manage.py migrate &&
            gunicorn -c gunicorn.py maths_recognition.wsgi"

    container_name: backend
    user: "1000:1000"
    restart: always
    env_file:
      - .env
    links:
      - "postgres:db"
    volumes:
      - ./backend:/app/backend
      - ./backend/staticfiles:/app/backend/staticfiles
    networks:
      - dbnet
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:17-alpine
    container_name: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - dbnet
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
    links:
      - "postgres:db"
    networks:
      - dbnet
    depends_on:
      - postgres
  
  redis:
    image: redis:8.0-alpine
    container_name: redis
    networks:
      - dbnet
    volumes:
      - redis-data:/data
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: redis-server --requirepass ${REDIS_PASSWORD} --appendonly yes
    expose:
      - 6379
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  celery:
    build: ./backend
    container_name: celery
    restart: always
    env_file:
      - .env
    command: celery -A maths_recognition worker --loglevel=info
    volumes:
      - ./backend:/app/backend
    networks:
      - dbnet
    depends_on:
      - redis
      - postgres
      - backend
  
  flower:
    build: ./backend
    container_name: flower
    restart: always
    env_file:
      - .env
    command: >
      celery -A maths_recognition flower 
      --port=5555 
      --broker=redis://:${REDIS_PASSWORD}@redis:6379/0
      --basic_auth=${FLOWER_USER}:${FLOWER_PASSWORD}
    ports:
      - "5555:5555"
    networks:
      - dbnet
    depends_on:
      - redis
      - celery

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    networks:
      - dbnet
    volumes:
      - ./backend/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/dist:/usr/share/nginx/html/frontend
      - ./backend/staticfiles:/app/backend/staticfiles
    expose:
      - 8088
    ports:
      - "80:8088"
    depends_on:
      - backend
      - frontend


volumes:
  postgres-data:
  redis-data:


networks:
  dbnet:
    driver: bridge
